:root {
    --websitebackgroundcolour: #f0f8ff; /**This assigns the colour to the name called websitebackgroundcolour **/
    --font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /**This assigns the font type to the name font-style**/
    --navigationbarcolour: rgb(116, 124, 124); /**This assigns the colour to the name called navigqtion colour**/
    --blackborders: black; /**This assigns the black colour to the name called blackborders**/
}

body {
    margin: 0; /**this removes the default margins**/
    padding: 0; /**This removes the default padding**/
    background-color: var(--websitebackgroundcolour); /**This adds a background to the homepage by using the root called websitebackgroundcolour**/
}

.logo-navigationbar {
    display: flex; /**this organises the containers horizontally**/
}

.logo-image {
    height: 57px; /**This sets a height for the logo**/
    width: 60px; /**This setsa width for the logo**/
    border: solid 2px var(--blackborders); /**This sets a border for the logo, whose colour is set by using the root called blackborders**/
    border-radius: 20px; /**This gives a circular shape to the border corners**/
}

.logo-container {
    padding: 18px; /**This gives an extra space for the logo container**/
}

.navigationbar-container {
    border: solid 2px var(--blackborders); /**This sets border to the navigation bar, whose colour is set by using the root called blackborders**/
    border-radius: 10px; /**This gives a circular shape to the corners of the border**/
    background-color: var(--navigationbarcolour); /**This gives a background colour to the navigation bar by using the root called navigationbarcolour**/
    opacity: 0.7; /**This makes tha navigation bar a bit faded**/
    height: 50px; /**This gives some height to the navigation bar**/
    flex-basis: 184vh; /**This gives more width to the navigation bar so it can cover the webpage**/
    transform: translateY(20px);/**This centralises the nasvigation bar**/
}

.hyperlink-list {
    display: inline-block; /**This displays the hyperlinks horizontally**/
    margin-left: 12vh; /**This gives space on the left of each hyperlink**/
}

.hyperlink-list:nth-child(5) { /**This only takes the fifth element of the class, which is the feedback hyperlink**/
    background-color: rgb(69, 71, 71); /**This gives a background colourto the hyperlink**/
    border-radius: 10px; /**This gives a circular shape to the background colour the hyperlink has**/
    padding: 2px; /**This gives an extra space to the background colour hyperlink**/
}

.hyperlink {
    text-decoration: none; /**This removes link appearance to the hypernlinks**/
    color: white; /**This gives a white colour to the hyperlinks**/
    font-family: var(--font-style); /**This gives a font style to the hyperlinks by using the root called font-style**/
}

.hyperlink:hover {
    color: black; /**This gives a blacxk colour when the user hovers on the hyperlinks**/
    transition: 0.9s; /**this gives some delay when the user hovers om the hyperlinks**/
}

.navigationbar {
    letter-spacing:1px; /**This gives space to the hyperlinks' letters**/
}

.feedback-body {
    display: flex; /**This displays the containers horizontally**/
}

.feedback-images1, .feedback-images2 {
    height: 40vh; /**This gives a height to feedback images**/
    width: 35vh; /**This gives a width to feedback images**/
}
.sections1 {
    transform:translateX(15vh); /**This moves the first section to the right position**/
    border: solid 2px var(--blackborders); /**This gives a border to the first section, whose colour is set by using the root called blackborders**/
    padding: 20px; /**This gives an extra space to the first section**/
}

.sections2 {
    transform:translateX(37vh); /**This moves the second section to the right position**/
    border: solid 2px var(--blackborders); /**This gives a border to the second section, whose colour is set by using the root called blackborders**/
    padding: 20px; /**This gives an extra space to the second section**/
}

.feedback-form-container {
    background-color: #dfe3e6; /**This gives a background colour to the feedback body**/
    width: 70vh; /**This gives a width to the feedback body**/
    height: 70vh; /**This gives a height to the feedback body**/
    transform:translate(25vh, 5vh); /**This centralises the feedback body to the centre of the webpage**/
    border: solid 1px var(--blackborders); /**This gives a border to the feedback body, whose colour is set by using the root called blackborders**/
    border-radius: 10px; /**This gives a circular shape to the feedback body border**/
}

.feedback-form {
    transform: translate(25vh, 24vh); /**This centralises the feedbaxk form to the centre of the feedback body**/
}

.feedback-header-container {
    transform:translate(13vh, 14vh); /**This centralises the container that contains the feedback header**/
    width: 45vh; /**this gives a width to the feedback header container**/
    height: 3vh; /**This gives a height to the feedback header container**/
} 

header {
    font-family: var(--font-style); /**This gives a font style to the feedback header by using the root called font-style**/
    letter-spacing: 0.5px; /*This gives some letter spacing to the feedback header**/
    font-size: 30px; /**This adjusts the header size**/
} 


input {
    width: 200px; /**This gives a width to the inputs**/
    height: 22px; /**This gives a height to the inputs**/
    border: none; /**This removes the input borders**/
    border-bottom: solid 1.5px black; /**This gives a bottom border to the inputs**/
    border-radius: 10px; /**This gives a circular shape to the corners of the input borders**/
    background-color:rgb(240, 240, 240); /**This gives a background colour to the inputs**/
}

label {
    font-family: var(--font-style); /**This gives a font style to the input names by using the root called font style**/
    letter-spacing: 0.5px; /**This gives some letter spacing to the input names**/
}

.submit-button {
    margin-top: 20px; /**This separates the submit button from the inputs**/
    transform: translateX(4.9vh); /**This centralises the submit button horizontally**/
    background-color: rgb(116, 124, 124); /**This gives a background colour to the submit button**/
    font-family: var(--font-style); /**This gives a font style to the submit button fonts by using the root called font style**/
    color: white; /**This gives a font colour to the suvmit button**/
    letter-spacing: 1px; /**This gives a letter spacing to the button**/
    padding: 4px; /**This gives an extra space to the button**/
    width: 10vh; /**This gives a width to the button**/
    border: solid 2px var(--blackborders); /**This gives a border to the button, whose colour is set by using the root called blackborders**/
    border-radius: 12px; /**This gives a circular shape to the corners of the borders**/
    cursor: pointer; /**When the user puts the cursor over the submit button, the pointer cursor will be displayed**/
}

.submit-button:hover {
    color: black; /**When the user puts the cursor over the submit button, the button font changes to black**/
    opacity: 0.8; /**When the user puts the cursor over the submit button, the button will look like a bit more transparent**/
    transition: 0.9s; /**When the user puts the cursor over the submit button, its animation will delay**/
}

.footer-container {
    display: flex; /**This displays the footer horizontally**/
    background-color: #d4dce3; /**This sets the a background colour to the footer**/
    border-top: solid 0.2px black; /**This gives a top border to the footer**/
    opacity: 0.7; /**This gives some transparency to the footer**/
    height: 5vh; /**This gives a height to the footer**/
    margin-top: 14vh; /**This gives a bit of sepraration between experts container and the footer**/
}

.copyright-mobileworldstation-name-container {
   transform: translateX(85vh); /**This centralises the copyright company name**/
    
}




