:root {
    --websitebackgroundcolour: #f0f8ff; /**This assigns the colour to the name called websitebackgroundcolour **/
    --font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /**This assigns the font type to the name font-style**/
    --navigationbarcolour: rgb(116, 124, 124); /**This assigns the colour to the name called navigqtion colour**/
    --blackborders: black; /**This assigns the black colour to the name called blackborders**/
}

body {
    margin: 0; /**this removes the default margins**/
    padding: 0; /**This removes the default padding**/
    background-color: var(--websitebackgroundcolour); /**This adds a background to the homepage by using the root called websitebackgroundcolour**/
}

.logo-navigationbar {
    display: flex; /**this organises the containers horizontally**/
}

.logo-image {
    height: 57px; /**This sets a height for the logo**/
    width: 60px; /**This setsa width for the logo**/
    border: solid 2px var(--blackborders); /**This sets a border for the logo, whose colour is set by using the root called blackborders**/
    border-radius: 20px; /**This gives a circular shape to the border corners**/
}

.logo-container {
    padding: 18px; /**This gives an extra space for the logo container**/
}

.navigationbar-container {
    border: solid 2px var(--blackborders); /**This sets border to the navigation bar, whose colour is set by using the root called blackborders**/
    border-radius: 10px; /**This gives a circular shape to the corners of the border**/
    background-color: var(--navigationbarcolour); /**This gives a background colour to the navigation bar by using the root called navigationbarcolour**/
    opacity: 0.7; /**This makes tha navigation bar a bit faded**/
    height: 50px; /**This gives some height to the navigation bar**/
    flex-basis: 184vh; /**This gives more width to the navigation bar so it can cover the webpage**/
    transform: translateY(20px);/**This centralises the nasvigation bar**/
}

.hyperlink-list {
    display: inline-block; /**This displays the hyperlinks horizontally**/
    margin-left: 12vh; /**This gives space on the left of each hyperlink**/
}

.hyperlink-list:nth-child(3) { /**This only takes the third element of the class, which is the hub hyperlink**/
    background-color: rgb(69, 71, 71); /**This gives a background colourto the hyperlink**/
    border-radius: 10px; /**This gives a circular shape to the background colour the hyperlink has**/
    padding: 2px; /**This gives an extra space to the background colour hyperlink**/
}

.hyperlink {
    text-decoration: none; /**This removes link appearance to the hypernlinks**/
    color: white; /**This gives a white colour to the hyperlinks**/
    font-family: var(--font-style); /**This gives a font style to the hyperlinks by using the root called font-style**/
}

.hyperlink:hover {
    color: black; /**This gives a blacxk colour when the user hovers on the hyperlinks**/
    transition: 0.9s; /**this gives some delay when the user hovers om the hyperlinks**/
}

.navigationbar {
    letter-spacing:1px; /**This gives space to the hyperlinks' letters**/
}

.hub-body {
    background-color: #dfe3e6; /**This gives a background colour to the hub body**/
    width: 90vh; /**This gives a width to the hub body**/
    height: 81vh; /**This gives a height to the hub body**/
    border: solid 1px var(--blackborders); /**This gives a border to the hub body by, whose is set by using the root called blackborders**/
    transform:translateX(52vh); /****/
}

.product1, .product2, .product3 {
    display: flex; /**This displays the containers that contain the product image and information, and learn more buttons horizontally**/
}

.image-container {
    margin-top: 20px; /**This separates the top of the containers that contain the product images**/
    margin-left: 20px; /**this seperates the containers that contain the product images from the left side**/
}

.hub-image {
    height: 230px; /**This gives a height to the product images**/
    width: 300px; /**This gives a width to the product images**/
    border: solid 1px var(--blackborders); /**This gives a border to the images by using the root called Blackborders**/
    border-radius: 10px; /**This makes the border coners look like a bit more circular**/
}

.product-information {
    width: 70vh; /**This gives a width to the containers that contain information about the products and learn more buttons**/
    padding: 10px; /**This gives an extra space to the containers that contain information about the products and learn more buttons**/
}

h3 {
    text-align: center; /**This aligns the headers of the information about the products to the centre**/
    font-family: var(--font-style); /**This gives a font style to the headers of the information about the products by using the root called font-style**/
}

p {
    text-align:center; /**This alingns all of the paragraphs t the centre**/
    margin-top: 10px; /** This gives a separation between the article headers and the paragraphs**/
    font-family: var(--font-style); /**This gives a font style to the paragraphs by using the root called font-style**/
    font-size: 15px; /**This adjusts the paragraph font sizes**/
}

button {
    background-color: rgb(116, 124, 124); /**This gives a background colour to the learn more buttons**/
    font-family: var(--font-style); /**This gives a font style to the buttons by using the root called font-style**/
    color: white; /**This gives a colour to the button fonts**/
    letter-spacing: 1px; /**This gives a bit of space to the letters of the buttons**/
    padding: 5px; /**This gives some extra space to the buttons**/
    width: 10vh; /**This gives a width to the buttons**/
    border: solid 2px var(--blackborders); /**This gives a border to the buttons, whose colour is set by using the root called blackborders**/
    border-radius: 12px; /**This gives a more circular shape to the borders of the buttons**/
    cursor: pointer; /**When the user puts the cursor over the buttons, a pointer cursor will be displayed**/
    transform: translateX(22vh); /**this centralises the buttons to the centre of the containers that contain the information od the products**/
}

button:hover {
    color: black; /**When the user puts the cursor over the buttons, the learn more font button will change to black**/
    opacity: 0.8; /**When the user puts the cursor over the button, buttons will look like a bit more transparent**/
    transition: 0.9s; /**When the user puts the cursor over the buttons, its animation will delay**/
}


.footer-container {
    display: flex; /**This displays the footer horizontally**/
    background-color: #d4dce3; /**This sets the a background colour to the footer**/
    border-top: solid 0.2px black; /**This gives a top border to the footer**/
    opacity: 0.7; /**This gives some transparency to the footer**/
    height: 5vh; /**This gives a height to the footer**/
    margin-top: 3vh; /**This gives a bit of sepraration between experts container and the footer**/
}

.copyright-mobileworldstation-name-container {
   transform: translateX(85vh); /**This centralises the copyright company name**/
    
}

