:root {
    --websitebackgroundcolour: #f0f8ff; /**This assigns the colour to the name called websitebackgroundcolour **/
    --font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /**This assigns the font type to the name font-style**/
    --navigationbarcolour: rgb(116, 124, 124); /**This assigns the colour to the name called navigqtion colour**/
    --blackborders: black; /**This assigns the black colour to the name called blackborders**/
}

body {
    margin: 0; /**this removes the default margins**/
    padding: 0; /**This removes the default padding**/
    background-color: var(--websitebackgroundcolour); /**This adds a background to the homepage by using the root called websitebackgroundcolour**/
}

.logo-navigationbar {
    display: flex; /**this organises the containers horizontally**/
}

.logo-image {
    height: 57px; /**This sets a height for the logo**/
    width: 60px; /**This setsa width for the logo**/
    border: solid 2px var(--blackborders); /**This sets a border for the logo, whose colour is set by using the root called blackborders**/
    border-radius: 20px; /**This gives a circular shape to the border corners**/
}

.logo-container {
    padding: 18px; /**This gives an extra space for the logo container**/
}

.navigationbar-container {
    border: solid 2px var(--blackborders); /**This sets border to the navigation bar, whose colour is set by using the root called blackborders**/
    border-radius: 10px; /**This gives a circular shape to the corners of the border**/
    background-color: var(--navigationbarcolour); /**This gives a background colour to the navigation bar by using the root called navigationbarcolour**/
    opacity: 0.7; /**This makes tha navigation bar a bit faded**/
    height: 50px; /**This gives some height to the navigation bar**/
    flex-basis: 184vh; /**This gives more width to the navigation bar so it can cover the webpage**/
    transform: translateY(20px); /**This centralises the nasvigation bar**/
}

.hyperlink-list {
    display: inline-block; /**This displays the hyperlinks horizontally**/
    margin-left: 12vh; /**This gives space on the left of each hyperlink**/

}

.hyperlink {
    text-decoration: none; /**This removes link appearance to the hypernlinks**/
    color: white; /**This gives a white colour to the hyperlinks**/
    font-family: var(--font-style); /**This gives a font style to the hyperlinks by using the root called font-style**/
}

.hyperlink:hover {
    color: black; /**This gives a blacxk colour when the user hovers on the hyperlinks**/
    transition: 0.9s; /**this gives some delay when the user hovers om the hyperlinks**/
}

.navigationbar {
    letter-spacing:1px; /**This gives space to the hyperlinks' letters**/
}

.footer-container {
    display: flex; /**This displays the containers horizontally**/
    background-color: #d4dce3; /**This gives a colour to the footer**/
    border-top: solid 0.2px black; /**This adds a black top border to the footer**/
    opacity: 0.7; /**This makes the footer look like a bit faded**/
    height: 5vh; /**This gives a height to the footer**/
    margin-top: 3vh; /**This separates the table from the footer**/
}

.copyright-mobileworldstation-name-container {
   transform: translateX(85vh); /**This centralises the copyright company name in the footer**/
    
}

table {
    transform:translateX(40vh); /**This centralises the table to the middle of the homepage**/
    padding: 20px; /**This gives some extra space to the table**/
    background-color: #dfe3e6; /**Tthis sets a background colour to the table**/
    
}

h3 {
    text-align: center; /**This aligns the header to the centre of the page.**/
    font-family: var(--font-style); /**This gives a font style to the header by using the root called font-style**/
    font-size: 30px; /**This adjusts the font size of the header**/
}

p {
    text-align: center; /**This aligns the paragraphs to the centre**/
    font-size: 20px; /**This adjusts the font size of the paragraphs**/
    font-family: var(--font-style); /**This gives a font style to the parapgraphs by using the root called font-style**/
}

#latestproductsimages1 {
    width: 1050px; /**This gives a width to the iPhone 13 Pro Max image**/
    height: 500px; /**This gives a height to the iPhone 13 Pro Max image**/
}

#latestproductsimages2 {
    width: 1050px; /**This gives a width to the Samsung Galaxy Buds+ image**/
    height: 500px; /**This gives a height to the Samsung Galaxy Buds+ image**/
}

#latestproductsimages3 {
    width: 1050px; /**This gives a width to the OneDrive app image**/
    height: 500px; /**This gives a height to the OneDrive app image**/
}





